<div class="panel panel-default">
	<div class="panel-heading">Settings</div>
	<ul class="list-group">
	  <li class="list-group-item {{gbl.routeActive('/user/profile')}}">
      <a href="#/user/profile">Profile</a>
    </li>
	  <li class="list-group-item {{gbl.routeActive('/user/groups')}}">
      <a href="#/user/groups">Groups</a>
    </li>
	  <li class="list-group-item">Linked Accounts</li>
	  <li class="list-group-item">Your Actions</li>
	  <li class="list-group-item">Applications</li>
	</ul>
</div>