
/* base site */

.about-header {
  font-size: 13px;
}
.about-footer {
  text-align: right;
  padding-right: 30px;
  font-size: 10px;
  background-color: white;
}
.about-footer img {
  height: 12px;
}
.about-footer a {
  text-decoration: none;
}
.spacer-footer{
  /*background: white url('../img/footer-line.png') no-repeat right top;*/
  height: 10px;
  padding: 0;
  margin: 0;
  /*width: 100%;*/
}
.spacer-footer .box-1 {
  background: #173b93;
  height: 10px;
}
.spacer-footer .box-2 {
  background: #c73118;
  height: 10px;
}
.spacer-footer .box-3 {
  background: #f45c0b;
  height: 10px;
}
.spacer-footer .box-4 {
  background: #fba700;
  height: 10px;
}
.legal-notice{
  margin-top: 7px;
  font-size: 11px;
}
.navbar-brand .b2share-logo{
  height: 90px;
}
.navbar-brand .eudat-logo{
  height: 48px;
}
.nav-search {
  display: table;
  padding: 20px;
  margin-right: 250px;
}

.has-error{
  color: #b94a48;
}

/* fix to footer bottom */

html,body{
  height: 100%;
}

a {
  outline: none!important;
}

#holder{
  min-height: 100%;
  position:relative;
}

#main-container{
  /*padding-bottom: 100px;*/
}

#footer{
  height: 100px;
  width:100%;
  position: absolute;
  left: 0;
}

.navbar-default {
  margin-bottom: 0;
  background: white url('../img/header.png') no-repeat right top;
}

footer {
  background-color: #f3f3eb;
}

footer .navbar-default {
  background: #F7F3E9 url('../img/footer.png') no-repeat right bottom;
  min-height: 80px;
}

#page{
  background: white url('../img/bg-page.png') no-repeat center top;
  min-height: 800px;
}

/* increase navbar sizes */
.header-nav .navbar-collapse .navbar-nav {

}
.header-nav .navbar-header {
  min-height: 120px;
}
.header-nav .in .navbar-nav {
  margin-top: 5px;
}
.header-nav .collapsing .navbar-nav {
  margin-top: 5px;
}
/* collapse search placement */
.header-nav .in .nav-search{
  margin: 10px 0px 0px 0px;
  padding: 0;
}
.header-nav .collapsing .nav-search {
  margin: 10px 0px 0px 0px;
  padding: 0;
}

#alerts-container {
  position: absolute;
  top: 10px;
  right:50px;
  z-index: 9999;
  max-width: 300px;
  float: right;
}

#alerts-container .message {
  margin: 2px;
}

#alerts-container .message strong {
  font-style: italic;
}

#loading-bar .bar {
  background-color: #FFAB2B;
}

#loading-bar .peg {
  -moz-box-shadow: #FFAB2B 1px 0 6px 1px;
  -ms-box-shadow: #FFAB2B 1px 0 6px 1px;
  -webkit-box-shadow: #FFAB2B 1px 0 6px 1px;
  box-shadow: #FFAB2B 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #FFAB2B;
  border-left-color: #FFAB2B;
  margin-top: 20px;
}

/* collapse to max of 1000px */
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }

}

.panel-hidden{
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  padding: 5px;
}

/* form errors */
input.ng-invalid.ng-touched {
  background-color: #ffbfbf;
  color: black;
  border-color: #b94a48;
  border-color: #b94a48;
  box-shadow: 0 0px 0px #b94a48 inset, 0 0 4px #b94a48;
  outline: 0 none;
}

input.ng-valid.ng-touched {
}


.list-group-item.active a {
  color: white;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #E5601E;
  border-color: #E5601E;
}


/* dashboard last deposits*/

.deposits a {
  text-decoration: none;
}

.deposits a:hover .name {
  text-decoration: underline;
}

.deposit {
  margin: 5px 0 5px 0;
}

.deposit p {
  padding: 0;
  margin: 0;
}

.deposit .date{
  color: blue;
}

.deposit .name {
  font-weight: 900;
}

.deposit .description {
  color: gray;
}

/* pages */


.legal-notice img {
  float: left;
  padding: 5px;
}

.footer-version {
  text-align: right;
  color: gray;
  margin-right: 20px;
  font-size: 0.7em;
}

/* breadcrumbs */

.breadcrumb {
  background-color: transparent;
  font-size: small;
  padding: 5;
  margin: 0;
}

.img-thumbnail {
  cursor: pointer;
}
/* presets */

.text-uppercase {
  text-transform: uppercase;
}

.bg-color-orange {
  background-color: #E5601E;
}

.text-color-white {
  color: #fff;
}

.text-color-white a {
  color: #fff;
  text-decoration: none;
}

.text-color-white a:hover {
  color: #fff;
  /*text-decoration: none;*/
}
.align-right{
  text-align: right;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.no-radius {
  border-radius: 0px;
}



