div, body, input, textarea, button, #testimonials h4, .highlighted-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
  font-family: helvetica;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

@font-face {
  font-family: 'Raleway';
  src: url(../bower_components/raleway/fonts/medium/raleway-medium.eot);
  src: url(../bower_components/raleway/fonts/medium/raleway-medium.eot#iefix) format('embedded-opentype'),
       url(../bower_components/raleway/fonts/medium/raleway-medium.woff) format('woff'),
       url(../bower_components/raleway/fonts/medium/raleway-medium.ttf)  format('truetype'),
       url(../bower_components/raleway/fonts/medium/raleway-medium.svg#Raleway) format('svg');
}


