<div id="deposit-create-header" class="col-xs-12" align="center">

  <!-- TODO: rework selector -->

  <ul class="nav nav-pills">
    <li role="presentation" class="{{Helper.argActive('step', 1)}}">
      <a href="#/deposits/create?step=1">1. Select Files</a>
    </li>
    <li role="presentation" class="{{Helper.argActive('step', 2)}}">
      <a href="#/deposits/create?step=2">2. Select Schema</a>
    </li>
    <li role="presentation" class="{{Helper.argActive('step', 3)}}">
      <a href="#/deposits/create?step=3">3. Annotate</a>
    </li>
  </ul>
</div>
