<!-- upload drop & file select NOTE: must be hidden after selected, new selection will overwrite everyting -->
<div ngf-drop ng-show="!uploadForm.files || uploadForm.files.length <= 0" ng-model="uploadForm.files" class="drop-box well hidden-xs" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'*/*'" ngf-change="uploadForm.change($files)">
  Drag & drop Files
</div>

<!-- default controller (homepage => /) -->
<div class="pull-right" ng-show="Helper.usesRoute('/')">
  <div class="btn-group" role="group" aria-label="..." ng-show="!uploadForm.files || uploadForm.files.length <= 0">
    <!-- select files -->
    <button role="group" aria-label="..." ngf-select ng-model="uploadForm.files" ngf-multiple="true" class="btn btn-primary" ngf-accept="'*/*'" ngf-allow-dir="true" ngf-change="uploadForm.change($files)">
      Select Files
    </button>
    <button class="btn btn-warning" type="submit">
      Create Empty Deposit <i class="fa fa-chevron-circle-right"></i>
    </button>
  </div>  
</div>

<!-- other controllers -->
<div ng-show="!Helper.usesRoute('/')">
  <div class="pull-right" role="group" aria-label="..." ng-show="!uploadForm.files || uploadForm.files.length <= 0">
    <!-- select files -->
    <button role="group" aria-label="..." ngf-select ng-model="uploadForm.files" ngf-multiple="true" class="btn btn-primary" ngf-accept="'*/*'" ngf-allow-dir="true" ngf-change="uploadForm.change($files)">
      Select Files
    </button>
  </div>  
</div>


<!-- file selected preview -->
<div class="well upload-preview pull-left" ng-show="uploadForm.files.length > 0">
  <!-- iterate files -->
  <div ng-repeat="file in uploadForm.files" class="">
    <div class="col-sm-12">
      <a class="media" ngf-src="file" type="{{file.type}}" size="{{file.size|size_byte2kilobyte}}" name="{{file.name}}"></a>
      <!-- show divider bar (except on last) -->
      <div ng-show="!$last" class="divider">&nbsp;</div>
    </div>
  </div>
</div>

<!-- reset and submit -->
<div ng-show="uploadForm.showSubmit && uploadForm.files && uploadForm.files.length > 0" class="pull-right btn-group" role="group" aria-label="...">
  <!-- change selection -->
  <button class="btn btn-warning" ng-click="uploadForm.reset()">
    Undo
  </button>
  <button class="btn btn-primary" type="submit">
    Create Deposit <i class="fa fa-chevron-circle-right"></i>
  </button>
</div>

<div ng-show="!uploadForm.showSubmit && uploadForm.files && uploadForm.files.length > 0" ng-show="uploadForm.files" class="pull-right btn-group" role="group" aria-label="...">
  <!-- change selection -->
  <button class="btn btn-warning" ng-click="uploadForm.reset()">
    Undo Selection
  </button>
</div>

