<div id="" class="container-fluid">
  <form id="deposit-file-select" novalidate name="uploadFormNg" ng-submit="uploadForm.submitForm()">
    <div class="row">
      <div class="col-xs-1 hidden-xs"></div>
      <div class="col-sm-10">
        <div class="page-header">
          <h2 id ="create-deposit-header">
            Create Deposit <small>{{uploadForm.title}}</small>
          </h2>
        </div>
        
        <div ng-include src="'layout/deposit/_create_nav_header.html'"></div>

      </div>
    </div>
    <div class="row margin-top-20">

      <div class="col-xs-1 hidden-xs"></div>
      <div class="col-sm-10 well">

        <!-- file select -->
        <div class="panel-collapse collapse {{Helper.isActive('step', 1)}}" role="tabpanel">
          <div ng-include src="'layout/deposit/_create_select_file.html'"></div>
        </div>

        <!-- schema  -->
        <div class="panel-collapse collapse {{Helper.isActive('step', 2)}}" role="tabpanel">
          <div ng-include src="'layout/deposit/_create_select_schema.html'"></div>
        </div>

        <!-- annotate  -->
        <div class="panel-collapse collapse {{Helper.isActive('step', 3)}}" role="tabpanel">
          <div ng-include src="'layout/deposit/_create_annotate.html'"></div>
        </div>

      </div>
    </div>
    <div class="row margin-top-20">

      <div class="col-xs-1 hidden-xs"></div>
      <div class="col-sm-10">
        <div ng-include src="'layout/deposit/_create_nav_footer.html'"></div>
      </div>
    </div>

    

  </from>
</div>
