
<div id="" class="container-fluid">
  <!-- header -->
  <div class="row">
    <div class="col-xs-1 hidden-xs">&nbsp;</div>
    <div class="col-sm-10">

      <div class="page-header">
        <h2>Search</h2>
      </div>

    </div>
  </div>
  <!-- body -->
  <div class="row">
    <div class="col-xs-1 hidden-xs">&nbsp;</div>
    <div class="deposits col-sm-10">

      <div class="row">
        <!-- iterate deposits -->
        <div class="col-sm-12">
          <p>* stub</p>
        </div>
      </div>
    </div>
  </div>

</div>