<div id="" class="container-fluid">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-sm-10">
      <h1>About B2SHARE</h1>
      <h2>What is it?</h2>
      <p>The majority of researchers need a user-friendly, reliable way to store and share their research data. Data which is often smaller in volume per user, but more complex. The users often have large numbers of small files, for example, files containing derived data in the form of spread sheets or analysis results. And while the information in these small data sets is important, often these data sets do not belong to users from large research collaborations which follow well-defined data management strategies. This type of data, known as “long tail data”, is often stored on disconnected machines such as notebooks, desktops or departmental servers thereby risking scientific data loss, either because other researchers do not have easy access to the data or because such storage is often relatively insecure. EUDAT offers the B2SHARE service that addresses this by:</p>
      <ul>
      <li>offering a simple self-service registration for data providers,</li>
      <li>lowering barriers to allow registered researchers and scientists to upload and store smaller scientific data sets into the B2SHARE repository,</li>
      <li>enabling users to share their data with other researchers, and</li>
      <li>utilising other EUDAT services (such as <a href="http://www.eudat.eu/b2safe">B2SAFE</a> and <a href="http://www.eudat.eu/b2stage">B2STAGE</a>) to provide reliability and data retention.</li>
      </ul>
      <p>B2SHARE provides a simple submission process, proper management of rights, long-term persistence of data, and metadata enrichment for a wide variety of data types. This service is not designed for scientific workflows that generate very large data sets; the purpose of this service focuses on smaller data sets that are in danger of not be taken care of otherwise.</p>
      <h2>Who benefits from it?</h2>
      <p>B2SHARE is optimized for researchers who:</p>
      <ul>
      <li>do not have adequate facilities for storing research data with metadata,</li>
      <li>cannot guarantee long-term persistence of their locally-stored data, and</li>
      <li>do not have adequate facilities to easily share data, results or ideas with colleagues worldwide.</li>
      </ul>
      <p>The success of this service is based on mutual trust, in that the depositors must be able to rely on the professional management of their data by the service provider, and the service provider rely on the users depositing data with appropriate content.</p>
      <h2>How does it work?</h2>
      <p>To understand how the B2SHARE service is used, consider a researcher who has generated a number of small files to support a certain experiment. She wants to share those files with other researchers via the web, or to make them publicly available. Using the EUDAT service, she will open a B2SHARE submission page (or rely on upload tools offered by EUDAT), drag her collection of files to the upload area, enter a few metadata fields, specify the access permissions and then submit the data.</p>
      <p>The B2SHARE service provider will respect the user’s access restrictions, assign PIDs to each object (and by this way, register them to the EUDAT domain of registered data) and store the data according to the B2SHARE service statements. For the most common data types – such as text, audio and video files – custom players will be available so that authorized users will be able to directly view the contents of the data files. This data service must rely on that all uploaded data relates to scientific research and is legally acceptable. In order to increase the level of confidence in the service, user registration and random content checks will be used to prevent the upload of inappropriate content according to the Terms of Use, such as non-scientific or illegal data.</p>
      <h2>Who can use it?</h2>
      <p>B2SHARE is open to all researchers and scientists who are affiliated to research institutions, universities as well as to individual researchers (citizen scientists). Researchers who want to deposit research data must register, a requirement for the upload service.</p>
      <h2>How can I use it?</h2>
      <p>The <a href="http://www.eudat.eu/userdoc">user documentation</a> and the <a href="http://www.eudat.eu/b2share-faq-generic">FAQ</a> describe how to use the B2SHARE service. Educational material (such as screencasts) and a service helpdesk are available . Community managers who want to get more details about this service, please contact <a href="http://www.eudat.eu/support-request">http://www.eudat.eu/support-request</a>.</p>
      <h2>What about Costs and Trust?</h2>
      <p>The B2SHARE service is free of charge for European scientists and researchers. The service is professionally managed and data is safely preserved via  a backup or replication service, and a disaster recovery plan is available.</p>
      <h2>Current Service and future Advancements</h2>
      <p>The basic production service will be offered from January 2014 and comprises following features:</p>
      <ul>
      <li>self-service registration for any scientists and researchers,</li>
      <li>free upload and registration of stable research data,</li>
      <li>data access policy is defined by the data owner,</li>
      <li>metadata is openly accessible and harvestable,</li>
      <li>customized metadata handling and customized user interfaces (e.g. for metadata acquisition),</li>
      <li>data integrity is ensured by checksums which are calculated during data ingest,</li>
      <li>the data is kept online, the storage usage base on the principle of fair share,</li>
      <li>the B2SHARE service is professionally managed, the data is stored at Datacenter CSC Kajaani, certified by the ISO/IEC 27001:2005 standard for its information security management system,</li>
      <li>user support is provided via the EUDAT ticketing system,</li>
      <li>the service availability and the usage of the storage is monitored,</li>
      <li>in the unlikely event that the upload service has to be closed, the data and metadata will still remain accessible for the following two years.</li>
      </ul>
      <p>The B2SHARE service will be advanced on top of the existing features:</p>
      <ul>
      <li>the basic B2SHARE service will be provided by multiple service providers,</li>
      <li>communities can request a premium service,</li>
      <li>larger storage capacity for the premium service,</li>
      <li>service provisioning based on SLAs,</li>
      <li>users can select their service provider of choice and trust,</li>
      <li>the B2SAFE repositories will be connected to the safe replication service,</li>
      <li>sharing data with user groups (extended restricted access),</li>
      <li>social tagging.</li>
      </ul>
          </div>
      </div>
      <div class="col-xs-1 hidden-xs"></div>
    </div>
</div>