
<div id="" class="container-fluid">
  <!-- header -->
  <div class="row">
    <div class="col-xs-offset-1 col-sm-10">

      <div class="page-header">
        <h2>About</h2>
      </div>

    </div>
  </div>
  <!-- body -->
  <div class="row">
    <div class="col-xs-offset-1 col-sm-10">

      <div class="row">
        <!-- iterate deposits -->
        <div class="col-sm-3">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#/about/b2share"><i class="fa fa-cubes"></i> B2SHARE</a>
            </li>
            <li class="list-group-item">
              <a href="#/about/communities"><i class="fa fa-users"></i> Communities</a>
            </li>
            <li class="list-group-item">
              <a href="#/about/communities"><i class="fa"></i>EUDAT</a>
            </li>
            <li class="list-group-item">
              <a href="#/about/legal-notice"><i class="fa fa-gavel"></i> Legal-notice</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>