<div id="" class="container-fluid">
  <div class="row">
    <div class="col-xs-1 hidden-xs">&nbsp;</div>
    <div class="col-sm-5">
      <div class="">
        <h2>Store and share your research data</h2>
        <p>
          A user-friendly, secure, robust, reliable, and trusted service to share and store your research data adding value to your research data by assigingin Persistent Identifiers to ensure long-lasting access and reference.
        </p>
        <p>
          Deposit and release your data via the generic interface or select a community extension inluding specific metadata fields. Releasing your data implies that your deposited data can be referred to, therefore any changes should be reflected in new data uploads.
        </p>
        <p>
          Share your data with others in a safe and trusted environment. Do you belong to a scientific community? Brand and create your own community collection with specific metadata fields customized for your field of study.
        </p>
        <p><a class="btn btn-default" href="#/about/b2share" role="button">Read more ...</a></p>

        </p>
      </div>
    </div>
    <div class="col-sm-5">
      <!-- user registration (not logged in) -->
      <div ng-include ng-show="currentUser == undefined" src="'layout/user/_register.html'"></div>
      <!-- user logged in -->
      <div ng-include ng-show="currentUser != undefined" src="'layout/user/_user.html'"></div>
      <!-- search box -->
      <div ng-include src="'layout/deposit/_upload.html'"></div>
      <!-- latest deposits -->
      <div ng-include src="'layout/deposit/_latest.html'"></div>
      <div class="col-xs-1">&nbsp;</div>
    </div>
  </div>
</div>