<div id="" class="container-fluid">
  <div class="row">
    <div class="col-xs-1">&nbsp;</div>
    <div class="col-sm-5">
      <div class="">
        <h2>Store and share your research data</h2>
        <p>
          A user-friendly, secure, robust, reliable, and trusted service to share and store your research data adding value to your research data by assigingin Persistent Identifiers to ensure long-lasting access and reference.
        </p>
        <p>
          Deposit and release your data via the generic interface or select a community extension inluding specific metadata fields. Releasing your data implies that your deposited data can be referred to, therefore any changes should be reflected in new data uploads.
        </p>
        <p>
          Share your data with others in a safe and trusted environment. Do you belong to a scientific community? Brand and create your own community collection with specific metadata fields customized for your field of study.
        </p>
        <p><a class="btn btn-default" href="#/" role="button">Read more</a></p>

        </p>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="">
        <p>Search in public datasets or register an user to upload and share your data! <a href="#/">REGISTER NOW</a> (Already registered? <a href="#/">LOGIN</a>).
        </p>
      </div>
      <div class="">
        <h2>SEARCH</h2>
        <p></p>
      </div>
      <div class="">
        <h2>DEPOSIT</h2>
        <p></p>
        <h3>LATEST DEPOSITS</h3>

        <div class="row">
          <div class="col-sm-12">

            <div class="row">
              <div class="deposit col-sm-6">
                <p class="date">2015-03-15</p>
                <p class="name">Flask documentation</p>
                <p class="description">Flask manuel</p>
              </div>
              <div class="deposit col-sm-6">
                <p class="date">2015-03-11</p>
                <p class="name">Indian Pine Hyperspectral Image</p>
                <p class="description">200 bands Hyuperspectral image matlab format</p>
              </div>
              <div class="deposit col-sm-6">
                <p class="date">2015-03-10</p>
                <p class="name">Indian Pine Hyperspectral Image</p>
                <p class="description">200 bands Hyuperspectral image matlab format</p>
              </div>
              <div class="deposit col-sm-6">
                <p class="date">2015-03-09</p>
                <p class="name">Indian Pine Hyperspectral Image</p>
                <p class="description">200 bands Hyuperspectral image matlab format</p>
              </div>
              <div class="deposit col-sm-6">
                <p class="date">2015-03-08</p>
                <p class="name">Flask documentation</p>
                <p class="description">Flask manuel</p>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-xs-1">&nbsp;</div>
    </div>
  </div>
</div>